body {
    background-image: url(../img/background.png);
    background-color: #fc9838;
    overflow: hidden;
}

.address {
    font-style: normal;
}

.about {
    position: absolute;
    left: 20px;
    top: 18px;
}

.about h1, .about h2, .about a {
    font-family: Menlo,monospace,sans-serif;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    color: #fff;
}

.about h1 {
    font-weight: 400;
    font-size: 2.2em;
}

.about h2 {
    margin: 0px 0 0 2px;
    font-style: italic;
    font-weight: 100;
    font-size: 0.8em;
}

.mario {
    background-image: url(../img/map.png);
    background-color: #3cbcfc;
    position: fixed;
    height: 448px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.mario #mario {
    background-image: url(../img/mario.gif);
    height: 54px;
    width: 46px;
}

.mario #top {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
}